@charset "utf-8";
/* CSS Document */

/* #Media Queries
================================================== */
/* Smaller than standard 1200px (devices and browsers) */
@media only screen and (max-width: 1200px) {
.container {
	width:90%;
	margin:0 auto;
}
}
@media only screen and (max-width: 1280px) {
header{
	/* padding:1%; */
}

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 768px) {
	
#main {
    padding-top: var(--header-height);
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
header {

}
header.smaller {

}
header .logo {

}
header nav {

}
header.smaller .logo {

}
#main{

}
.ace-responsive-menu{
	position: absolute;
	left: 0;
	top: 100%;
	margin: 0;
	background-color: #fff;
}
.ace-responsive-menu li a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {

#main {
    padding-top: var(--header-height);
}
th, td {
    font-size: 12px;
}
p{
	text-align: center;
}
.fa_menuarrow{
	display:none!important;
}
header {

}
header.smaller {

}
header .logo {

}
header nav {

}
header.smaller .logo {

}

.ace-responsive-menu > li > a {
    
}
.ace-responsive-menu > li {
    
}







}